/* components/AdminBoard.module.css */
.adminBoard {
  position: relative;
  padding: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Barra de herramientas */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.searchBox {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
}

.searchBox input {
  border: none;
  outline: none;
  font-size: 14px;
}

.icon {
  margin: 10px 10px;
  font-size: 20px;
  cursor: pointer;
}

.addButton {
  background-color: #0f62fe;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 30px;
  align-items: center;
}

.addButton:hover {
  background-color: #0353e9;
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table td {
  cursor: pointer;
}

.row:hover {
  background-color: #f9f9f9;
}

.expandedRow {
  background-color: #f9f9f9;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}

.pageSize select {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.pageControls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.pagesInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.pageButton {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.list {
  list-style-type: disc;
  margin-left: 20px;
}

.deleteButton {
  background-color: #fe0f0f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 30px;
  align-items: center;
}

.image {
  height: auto;
  width: 100px;
}

.segmented-bar {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.segmented-bar .btn-left,
.segmented-bar .btn-right {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.segmented-bar .btn-left:hover,
.segmented-bar .btn-right:hover {
  background-color: #0056b3;
}

.adminContainer {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  display: flex;
  align-items: flex-start;
}
.chartContainer {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #e0e0e000; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  display: flex;
  align-items: flex-start;
}
.side-menu.open ~ .chartContainer {
  margin-left: 250px; /* Espacio cuando el menú está abierto */
}
.backButton {
  background-color: #e0e0e000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 30px;
}

.backButton:hover {
  background-color: transparent;
}

/* Estilo para el botón del menú */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #00800000;
  color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.menu-btn:hover {
  background-color: #005f00;
  transform: scale(1.1);
}

.menu-btn:focus {
  outline: none;
}

/* Estilos del menú lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: 0; /* El menú comienza fuera de la pantalla */
  transform: translateX(-100%);
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: transform 0.3s ease-in-out; /* Transición suave */
  z-index: 999;
  padding-top: 60px; /* Espacio para evitar que el menú quede bajo el botón */
}

.side-menu.open {
  transform: translateX(0); /* Menú se despliega cuando se añade la clase 'open' */
}

/* Estilos para los enlaces dentro del menú lateral */
.side-menu ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.side-menu ul li {
  margin-bottom: 20px;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.side-menu ul li a:hover {
  color: #FFD700; /* Color del enlace al pasar el mouse */
}

/* Estilos para el submenú */
.sub-menu {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 10px; /* Separación adicional */
  border-left: 1px solid #ddd; /* Línea visual para separar */
  transition: margin 0.3s ease-in-out;
}

.sub-menu li {
  margin-bottom: 10px;
}

.sub-menu li a {
  font-size: 16px;
  color: #ddd;
}

.sub-menu li a:hover {
  color: #FFD700;
}

/* Estilos para el contenido principal */
.main-content {
  margin-left: 20px; /* Deja espacio si el menú está visible */
}

/* --------------------------- Ajustes Responsivos --------------------------- */

/* Menú lateral en pantallas pequeñas */
@media (max-width: 768px) {
  .side-menu {
    width: 200px; /* El menú comienza fuera de la pantalla */
  }

  .side-menu.open {
    left: 0; /* Menú se despliega cuando se añade la clase 'open' */
  }

  .menu-btn {
    top: 15px;
    left: 15px;
    padding: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    outline: none;
  }
  .menu-btn:hover {
    transform: scale(1.05);
  }
  .side-menu ul {
    padding: 10px;
  }

  .side-menu ul li {
    margin-bottom: 15px;
  }

  .side-menu ul li a {
    font-size: 16px;
  }

  /* Ajuste de contenido principal cuando el menú está abierto */
  .main-content {
    margin-left: 0; /* Sin espacio si el menú está colapsado */
  }

  .chartContainer {
    margin-left: 0;
    padding: 10px;
    height: auto;
    box-shadow: none; /* Desactivar sombra en pantallas pequeñas */
  }

  .chartContainer h1 {
    font-size: 18px;
  }

  /* Ajuste de tamaño de botones */
  .addButton,
  .backButton {
    padding: 8px 20px;
    font-size: 12px;
  }

  .icon {
    font-size: 18px;
  }

  .searchBox input {
    font-size: 12px;
  }

  .pageButton {
    padding: 5px 10px;
    font-size: 12px;
  }

  /* Asegurar que la tabla sea deslizante */
  .table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  }

  /* Paginación en pantallas pequeñas */
  .pagination {
    flex-direction: column; /* Apilar los controles de paginación en pantallas pequeñas */
    align-items: flex-start;
  }

  .pageButton {
    padding: 5px 10px;
    font-size: 12px;
  }
  .addButton,
  .backButton {
    padding: 8px 20px;
    font-size: 12px;
  }
}
